<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todoplanner.matthewwen.todoplanner">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Content Provider for Database -->
        <provider
            android:name=".data.DataProvider"
            android:authorities="com.todoplanner.matthewwen.todoplanner"
            android:exported="false" />

        <!-- All the Developer Activities -->
        <activity
            android:name=".developer.developerActivities.DeveloperMainActivity"
            android:label="@string/developer_view" />
        <activity
            android:name=".developer.developerActivities.developerDisplayDatabase.DeveloperTaskActivity"
            android:label="@string/developer_task_list" />
        <activity
            android:name=".developer.developerActivities.developerDisplayDatabase.DeveloperNoteActivity"
            android:label="@string/developer_notes_list" />
        <activity
            android:name=".developer.developerActivities.developerDisplayDatabase.developerEventActivities.DeveloperTodayEventActivity"
            android:label="@string/developer_today_event_list" />

        <!-- FOR SERVICE: android:permission="android.permission.BIND_JOB_SERVICE" /> -->


        <!-- Alarm Service Receivers -->
        <receiver android:name=".alarmService.CalendarReminderReceiver" />

        <service android:name=".service.NextEventIntentService" />

        <!-- This is developer view past events -->
        <activity
            android:name=".developer.developerActivities.developerDisplayDatabase.developerEventActivities.DeveloperPastEventActivity"
            android:label="@string/developer_past_event_list" />

        <!-- This is developer view pending events -->
        <activity
            android:name=".developer.developerActivities.developerDisplayDatabase.developerEventActivities.DeveloperPendingEventActivity"
            android:label="@string/developer_pending_event_list" />
        <activity android:name=".developer.developerActivities.DeveloperEventActivity" />
        <activity android:name=".developer.developerActivities.DeveloperEventCreateActivity" />
    </application>

</manifest>