<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.todoplanner.matthewwen.todoplanner">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.DataProvider"
            android:authorities="com.todoplanner.matthewwen.todoplanner"
            android:exported="false" />

        <activity
            android:name=".developerActivities.DeveloperMainActivity"
            android:label="@string/developer_view" />
        <activity
            android:name=".developerActivities.developerDisplayDatabase.DeveloperTaskActivity"
            android:label="@string/developer_task_list" />
        <activity
            android:name=".developerActivities.developerDisplayDatabase.DeveloperNoteActivity"
            android:label="@string/developer_notes_list" />
        <activity android:name=".developerActivities.developerDisplayDatabase.DeveloperEventActivity"
            android:label="@string/developer_event_list"/>

        <service android:name=".sync.UpdateDelayedEventJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <service android:name=".sync.EventJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispater.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <receiver android:name=".receivers.AlarmEventReminderReceiver"/>
        <receiver android:name=".receivers.events.AlarmEventStartReminderReceiver"/>
        <receiver android:name=".receivers.events.AlarmEventEndReminderReceiver"/>

    </application>

</manifest>